<header th:fragment="header" class="topbar">
    <div class="topbar__container">
        <div class="topbar__brand">
            <a th:href="@{/}" class="brand-link">AlquilerVehiculos</a>
        </div>
        <!-- PARA EL P3: nombre usuario y cierre sesión
        <div class="topbar__right">
            <div class="topbar__user">
                <span class="topbar__user-icon">○</span>
                <span>Admin</span>
            </div>

            <a href="#" class="btn btn--outline btn--small">Cerrar sesión</a>
        </div>
        -->
    </div>
</header>